* {
    margin: 0;
    padding: 0;

}

.box-menu {
    text-align: center;
    margin: 10px;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
}

li {

    display: inline-block;

}

span {
    color: white;
}



.body-div {

    margin-left: 300px;
    width: 62%;
}

ul {
    border-radius: 10px;
    margin-top: 20px;
}

.im {

    background-color: rgb(207, 136, 2);
    border-radius: 10px;
    width: 63%;
    margin-left: 300px;



}

li a:hover {
    transition: 1s;
    color: chocolate;
    background: rgb(63, 60, 60);
    cursor: pointer;
    border-radius: 25px;
    padding: 12px;
}

li a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    transition: 1s;
    padding: 10px 15px;
}

li {
    margin-top: 15px;
}

.div-b {
    background-color: orange;
    border-radius: 10px;
    width: 63%;
    margin-left: 300px;


}

footer {
    color: rgb(148, 96, 0);
    background: rgb(255, 195, 85);
    border-radius: 10px;
    padding: 12px;
    text-align: center;
    width: 62%;
    margin-left: 300px;
}


.menu_2{
    width: 10px;
    height: 10px;
}